* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.countdown-body {
  height: 100vh;
  background: linear-gradient(
    183deg,
    rgba(197, 200, 210, 0.06557005126269255) 0%,
    rgba(98, 98, 105, 0.7238333565848214) 100%
  );
}
#datetime-picker {
  width: 240px;
  height: 28px;
}
.countdown-body button {
  height: 28px;
}
.timer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 40;
}
.label {
  font-size: 16;
  font-weight: 600;
  text-transform: uppercase;
}
